body {
    transition: 0.5s;
    background-color: gray;
    font-family: 'Kosugi Maru', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    position: relative;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: white;
    margin: 16px;
    border-radius: 50%;
    box-shadow: 0px 0px 1cm white;
    animation: animate 15s linear infinite;
    animation-duration: calc(60s / var(--i));
}

@keyframes animate {
    0%
    {
        transform: translateY(16cm) scale(0);
    }
    100%
    {
        transform: translateY(-100vh) scale(1);
    }
}

@keyframes edit {
    0%
    {
        transform: translateY(-2cm);
    }
}

.wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.main_text
{
    text-align: center;
    color: white;
    transform: translateY(-1.5cm);
    font-size: 60px;
    animation: edit 0.5s;
}

.main_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Quicksand', sans-serif;
    width: calc(32vmin * 4);
    height: calc(19vmin * 4);
    padding: 8px;
    border-radius: 20px;
    background-color: white;
    display:flex;
    flex-direction: column;
}


.math {
    margin: 8px;
    background-color: rgb(156, 156, 229);
    width: calc(10vmin * 4);
    height: calc(5.3vmin * 4);
    border-radius: 15px;
    background: #919191;
    box-shadow:  20px 20px 40px #4e4c4c;
}
.math h1{
    margin-left: 10px;
    font-size: 26px;
}
.math p{
    margin-left: 13px;
    font-size: 19px;
}

@media screen and (max-width: 900px) {
.main_text
{
    text-align: center;
    color: white;
    transform: translateY(-1.5cm);
    font-size: 60px;
    animation: edit 0.5s;
}

.main_container {
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: calc(24vmin * 4);
    height: calc(25vmin * 4);
    padding: 8px;
    border-radius: 20px;
    background-color: white;
    display:flex;
    flex-direction: column;
}


.math {
    margin: 8px;
    background-color: rgb(156, 156, 229);
    width: calc(10vmin * 4);
    height: calc(5.3vmin * 4);
    border-radius: 15px;
    background: #919191;
    box-shadow:  20px 20px 40px #4e4c4c;
}
.math h1{
    margin-left: 10px;
    font-size: 26px;
}
.math p{
    margin-left: 13px;
    font-size: 19px;
}
}